<h2>Add New post</h2>

<p>We will add new post here </p>

<form role="form">
    <div class="form-floating">
        <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea"></textarea>
        <label for="floatingTextarea">Comments</label>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>